version: '3.3'

services:

  zammad-backup:
    command: ["zammad-backup"]
    depends_on:
      - zammad-railsserver
    entrypoint: /usr/local/bin/backup.sh
    image: monotek/zammad-docker-compose:zammad-postgresql${VERSION}
    labels:
      io.rancher.container.pull_image: always
    links:
      - zammad-postgresql
    restart: always
    volumes:
      - zammad-backup:/var/tmp/zammad
      - zammad-data:/opt/zammad/storage/fs

  zammad-elasticsearch:
    image: monotek/zammad-docker-compose:zammad-elasticsearch${VERSION}
    labels:
      io.rancher.container.pull_image: always
    restart: always
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data

  zammad-nginx:
    command: ["zammad-nginx"]
    depends_on:
      - zammad-railsserver
    image: monotek/zammad-docker-compose:zammad${VERSION}
    labels:
      io.rancher.container.pull_image: always
    links:
      - zammad-railsserver
      - zammad-websocket
    restart: always

  zammad-postgresql:
    image: monotek/zammad-docker-compose:zammad-postgresql${VERSION}
    labels:
      io.rancher.container.pull_image: always
    restart: always

  zammad-railsserver:
    command: ["zammad-railsserver"]
    depends_on:
      - zammad-postgresql
    image: monotek/zammad-docker-compose:zammad${VERSION}
    labels:
      io.rancher.container.pull_image: always
    links:
      - zammad-elasticsearch
      - zammad-postgresql
    restart: always
    volumes:
      - zammad-data:/home/zammad/storage

  zammad-scheduler:
    command: ["zammad-scheduler"]
    depends_on:
      - zammad-railsserver
    image: monotek/zammad-docker-compose:zammad${VERSION}
    labels:
      io.rancher.container.pull_image: always
    links:
      - zammad-elasticsearch
      - zammad-postgresql
    restart: always

  zammad-websocket:
    command: ["zammad-websocket"]
    depends_on:
      - zammad-railsserver
    image: monotek/zammad-docker-compose:zammad${VERSION}
    labels:
      io.rancher.container.pull_image: always
    links:
      - zammad-postgresql
    restart: always

volumes:
  elasticsearch-data:
    driver: local
  zammad-backup:
    driver: local
  zammad-data:
    driver: local
