apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: zammad
  namespace: zammad
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: zammad
        component: services
    spec:
      volumes:
      - name: cache-volume
        emptyDir: {}
      - name: data
        nfs:
          # fixme use ip of zammad-nfs service instead of 'server: zammad-nfs' because of: https://github.com/kubernetes/kubernetes/pull/51645
          server: zammad-nfs
          path: /

      initContainers:
      - name: zammad-init
        image: monotek/zammad-docker-compose:zammad
        args: [ "zammad-init" ]
        imagePullPolicy: Always
        securityContext:
          privileged: true
        volumeMounts:
        - name: cache-volume
          mountPath: /opt/zammad/tmp
        - name: data
          mountPath: /opt/zammad/storage

      containers:
      - name: zammad-scheduler
        image: monotek/zammad-docker-compose:zammad
        args: [ "zammad-scheduler" ]
        imagePullPolicy: Always
        securityContext:
          privileged: true
        volumeMounts:
        - name: cache-volume
          mountPath: /opt/zammad/tmp
        - name: data
          mountPath: /opt/zammad/storage

      - name: zammad-railsserver
        image: monotek/zammad-docker-compose:zammad
        imagePullPolicy: Always
        args: ["zammad-railsserver"]
        ports:
        - name: railsserver
          containerPort: 3000
        securityContext:
          privileged: true
        volumeMounts:
        - name: cache-volume
          mountPath: /opt/zammad/tmp
        - name: data
          mountPath: /opt/zammad/storage

      - name: zammad-websocket
        image: monotek/zammad-docker-compose:zammad
        args: [ "zammad-websocket" ]
        ports:
        - name: websocket
          containerPort: 6042
        imagePullPolicy: Always
        securityContext:
          privileged: true
        volumeMounts:
        - name: cache-volume
          mountPath: /opt/zammad/tmp
        - name: data
          mountPath: /opt/zammad/storage
