apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: zammad-nginx
  namespace: zammad
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: zammad
        component: nginx
    spec:
      containers:
      - name: zammad-nginx
        image: monotek/zammad-docker-compose:zammad
        args: [ "zammad-nginx" ]
        ports:
        - containerPort: 80
          name: nginx
        imagePullPolicy: Always
